<div class="skr" id="aboutus">
    <div class="about"><B>ABOUT US</B></div>
    <div class="push"><b>PUSH YOUR LIMITS FORWARD</b></div>
    <div id="us">
        <div class="us">
            <a href="#"><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCpO-FX521iIrsnI63IRw5TS0jIvLEWzA-zF77ihWMCwCstRmP"></a>
            <h2>Modern equipment</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sed illo similique error obcaecati
                maxime
                exercitationem hic tempora?</p>
        </div>
        <div class="us">
            <a href="#"><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo3UMEmj-IaiR2PSPQO3toKSUDstgYTXuj_63b0UBuZ3C-XK52"></a>
            <h2>Healthy nutrition plan</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sed illo similique error obcaecati
                maxime
                exercitationem hic tempora?</p>
        </div>
        <div class="us">
            <a href="#"><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4wKTKyT0xDXQYzJBRGkKbFmyRXB60wY3jWxoNqPkNQxeRsZzP">
            </a>
            <h2>Professional training plan</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sed illo similique error obcaecati
                maxime
                exercitationem hic tempora?</p>
        </div>
        <div class="us">
            <a href="#"><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPnp4XMQdeJ9PIxvhY1egoU-ww3exfqkNZxdq25BEOGNpdOnyT"></a>
            <h2>Unique to your needs</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sed illo similique error obcaecati
                maxime
                exercitationem hic tempora?</p>
        </div>
    </div>

    <div id="us1">
        <div class="video"><a href="#"> <img src="/docs/assets/img&video/gymimg.jpg" alt="gymimg"></a> </div>

        <div class="my">
            <h1>MY ACHIEVEMENT</h1>
            <p>Cuptas atque consequuntur aliquam eos ipsum veniam hic eaque, voluptate a asperiores quaerat at quod
                pariatur vel, exercitationem fugit alias! Rerum.
                Dolorem, fuga. Adipisci optio necessitatibus, fugit placeat nesciunt quisquam facere excepturi
                dignissimos distinctio atque veritatis quis provident dolores odio ipsam temporibus dolor, ipsum
                aspernatur quae blanditiis velit non quia laborum.
                A delectus voluptatem autem ad quas sint impedit qui voluptate ea. Corporis dolorem nulla nihil, et
                sunt architecto dolor eaque nobis? Quo tempora id tempore hic, iusto nisi vero explicabo.
                Incidunt corporis ex, consectetur cupiditate voluptas, modi harum dolorum doloremque sunt iste qui
            </p>
        </div>

    </div>
</div>