<div class="workout" id="workout">
    <div class="h1"><b>WORKOUT</b></div>
    <div class="p"><b>WHY CHOSE US?</b></div>
    <div class="table">
        <div class="flex">
            <div>
                <a href="#"><img src="/assets/img&video/beginner.jpg"></a>
                <p>BEGINNER</p>
            </div>
            <div>
                <a href="#"> <img src="/assets/img&video/cardio.jpg"></a>
                <p>CARDIO</p>
            </div>
            <div>
                <a href="#"> <img src="/assets/img&video/lift.jpg"></a>
                <p>WHIGHT LIFTING</p>
            </div>
        </div>
        <div class="flex">
            <div>
                <a href="#"> <img src="/assets/img&video/chest.jpg"></a>
                <p>CHEST</p>
            </div>
            <div>
                <a href="#"><img src="/assets/img&video/Back.jpg"></a>
                <p>BACK</p>
            </div>
            <div>
                <a href="#"> <img src="/assets/img&video/leg.jpg"></a>
                <p>LEG</p>
            </div>
        </div>
        <div class="flex">
            <div>
                <a href="#"> <img src="/assets/img&video/bicep.jpg"></a>
                <p>BICEPS</p>
            </div>
            <div>
                <a href="#"><img src="/assets/img&video/tricep.jpg"></a>
                <p>TRICEPS</p>
            </div>
            <div>
                <a href="#"><img src="/assets/img&video/shoulder.jpg"></a>
                <p>SOULDER</p>
            </div>
        </div>
    </div>
</div>