<div class="ragistration" id="ragistration">
    <div class="us">
        <h1><b>JOIN US</b></h1>
        <p><b>Want to become a Gym member?</b> </p>
        <p><b>Please fill the form</b></p>
    </div>
    <div class="div">
        <input type="text" id="name" name="name" placeholder="Name"><br>
        <input type="text" id="whight" name="whight" placeholder="Whight"><br>
        <input type="text" id="gender" name="gender" placeholder="Gender"><br>
        <input type="email" id="email" name="email" placeholder="Email"><br>
        <input type="number" id="phone" name="phone" placeholder="Phone"><br>
        <input type="submit" id="submit" name="submit">
    </div>
</div>